.board{
  position: absolute;
  background-color: #D3D3D3;
  border: 1px solid;
  width: 70%;
  height: 50%;
  left: 15%;
  top:15%;
}

.postit{
  vertical-align: top;
  display: inline-block;
  position: static;
  background-color: #f2bac3;
  overflow-wrap: break-word;
  text-align: center;
  margin-top: 1%;
  margin-left: 1%;
  height: 40%;
  width: 15%;
  left: 0;
}

.postit_area{
  overflow: hidden;
  background-color: #A9A9A9;
  position: absolute;
  border: 1px solid;
  height: 30%;
  width: 70%;
  top: 69.7%;
  left: 15%;
}

.mypostit{
  position: relative;
  display: inline-block;
  background-color: #fef49f;
  margin-left: 1%;
  margin-top: 1%;
  height: 90%;
  width: 25%;
  top: 5%;
}

.send{
  position: absolute;
  margin-bottom: 1%;
  bottom: 1%;
  margin-left: 1%;
  left: 1%;
}

 .textarea{
  position: absolute;
  /*background-color: #fef49f; */
  margin-top: 5%;
  left: 5%;
  width: 87%;
  height: 74%;
}

.add_post{
  position: absolute;
  height: 15%;
  width: 10%;
  right: 5%;
  top: 5%;
}
